@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}



.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
	/* padding-bottom: 20px; */

}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

/* button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
} */

.c-error {
	transition: all 0.3s ease-in-out;
	padding: 1px;
	margin: 1px;
	color: #333;
	background: #fafafa;
	border: 1px dotted #ccc;
	border-radius: 10%;
	width: 15rem;

}

.warn {
	color: #756e15;
	background: #fffbd1;
	border: 1px solid #87803e;
  }



/* .hide {
	  display: none;
	  transition: all 0.5s ease-out;
  } */